---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import TextBox from "../components/TextBox.astro";
import Navbar from "../components/Navbar.astro";
import ListBox from "../components/ListBox.astro";
import IconLink from "../components/IconLink.astro";

import Render from "../components/Render";

import profileImage from "../assets/PortafolioProfile.jpg";

const skills = [
  {
    title: "Backend",
    items: [
      "Node",
      "Typescript",
      "Express",
      "Python",
      "Django",
      "MongoDB",
      "Postgresql",
      "MySql",
    ],
  },
  {
    title: "Frontend",
    items: ["HTML", "CSS", "JS", "React", "Tailwindcss", "Axios", "Astro"],
  },
  {
    title: "Others",
    items: ["Godot", "Git", "Linux", "Vim", "Lua", "C++"],
  },
];
---

<Layout title="My Portafolio">
  <Navbar />
  <main class="px-1 py-4 text-center flex flex-col justify-center">
    <h1 class="text-6xl font-mono bg-transparent z-10">
      Claudio <span class="text-everlightblue-200 dark:text-everdarkblue-100"
        >Araujo</span
      >
    </h1>

    <div class="mt-2">
      <Render client:load />
    </div>

    <div
      class="flex flex-col items-center justify-center gap-8 px-4 md:px-32 lg:px-64 mt-8 w-full"
    >
      <section id="about">
        <div class="flex justify-center mb-6">
          <div class="box-colors transition rounded w-fit px-4 md:px-8 py-2">
            <p class="font-mono text-sm">
              Junior Developer who wants to be your hero
            </p>
          </div>
        </div>

        <Card
          title="The hero"
          body="Hi, I'm a Backend Developer with the goal of becoming a Senior FullStack Developer who brings a great work experience and spread his knwoledge around the world. In my free time I create games using PICO-8 and Godot with a propuse to tell storys that can help someone's hearth."
        >
          <Image
            slot="header"
            src={profileImage}
            width="232"
            height="232"
            class="m-4 rounded-full"
            alt="Profile"
          />
        </Card>
      </section>
      <section id="skills">
        <TextBox
          title="Skills"
          body="This are some of my 'spells' I have learn since I chose the path of programming"
        >
          <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 mt-2"
          >
            {
              skills.map((skill, index) => (
                <ListBox
                  title={skill.title}
                  items={skill.items}
                  class_list={`${index === 0 ? "md:col-span-2 lg:col-span-1" : ""}`}
                />
              ))
            }
          </div>
        </TextBox>
      </section>
      <section id="works">
        <TextBox title="Works" body="A summary of my 'epic quests'" />
      </section>
    </div>
  </main>
  <section class="bg-everlightbg-300 dark:bg-everdarkbg-200 p-4">
    <h1 class="text-2xl mb-2">Contact</h1>
    <hr
      class="bg-everlightfg/30 dark:bg-everdarkfg/30 border-0 h-px w-full mb-4"
    />
    <div class="flex flex-col md:flex-row px-2 gap-3 md:gap-6">
      <IconLink
        title={"Github"}
        iconName={"github"}
        link={"https://github.com/Tlakuache123"}
      />
      <IconLink
        title="LinkedIn"
        iconName="linkedin"
        link={"https://www.linkedin.com/in/claudio-araujo-b3a439265/"}
      />
    </div>
  </section>
</Layout>

<style>
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-neutral-500 to-neutral-300;
  }
</style>
