---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import TextBox from "../components/TextBox.astro";
import Navbar from "../components/Navbar.astro";
import ListBox from "../components/ListBox.astro";

import Render from "../components/Render";

import profileImage from "../assets/PortafolioProfile.jpg";

const skills = [
  {
    title: "Backend",
    items: [
      "Node",
      "Typescript",
      "Express",
      "Python",
      "Django",
      "MongoDB",
      "Postgresql",
      "MySql",
    ],
  },
  {
    title: "Frontend",
    items: ["HTML", "CSS", "JS", "React", "Tailwindcss", "Axios", "Astro"],
  },
  {
    title: "Others",
    items: ["Godot", "Git", "Linux", "Vim", "Lua", "C++"],
  },
];
---

<Layout title="My Portafolio">
  <Navbar />
  <main class="p-1 text-center flex flex-col justify-center">
    <h1 class="text-6xl font-mono bg-transparent z-10">
      Claudio <span class="text-everlightblue-200 dark:text-everdarkblue-100"
        >Araujo</span
      >
    </h1>

    <div class="mt-2">
      <Render client:load />
    </div>

    <ul
      role="list"
      class="flex flex-col items-center gap-8 w-3/4 lg:w-1/2 mt-8 m-auto"
    >
      <section id="about">
        <div class="flex justify-center mb-6">
          <div
            class="box-colors transition rounded-lg w-fit px-4 md:px-8 py-2 opacity-85 hover:-translate-y-1 hover:scale-105 hover:shadow mx-10 md:mx-0"
          >
            <p class="font-mono text-sm">
              Hi, I'm Claudio, a Junior Developer who wants to be a Hero
            </p>
          </div>
        </div>

        <Card
          title="The hero"
          body="Hi, I'm a Backend Developer with the goal of becoming a Senior FullStack Developer who brings a great work experience and spread his knwoledge around the world. In my free time I create games using PICO-8 and Godot with a propuse to tell storys that can help someone's hearth."
        >
          <Image
            slot="header"
            src={profileImage}
            width="232"
            height="232"
            class="m-4 rounded-full"
            alt="Profile"
          />
        </Card>
      </section>
      <section id="skills" class="w-full">
        <TextBox
          title="Skills"
          body="This are some of my 'spells' I have learn since I chose the path of programming"
        >
          <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 mt-2"
          >
            {
              skills.map((skill, index) => (
                <ListBox
                  title={skill.title}
                  items={skill.items}
                  class_list={`${index === 0 ? "md:col-span-2 lg:col-span-1" : ""}`}
                />
              ))
            }
          </div>
        </TextBox>
      </section>
      <TextBox title="Works" body="A summary of my 'epic quests'">
        <section>
          <h2 class="text-xl">DragonTec</h2>
          <h4 class="text-sm font-light">8 months (Oct 2023 - Oct 2024)</h4>
        </section>

        <section>
          <h2 class="text-xl">DSI Fes Acatlan, UNAM</h2>
          <h4 class="text-sm font-light">6 months (Agu 2023 - Mar 2024)</h4>
        </section>
      </TextBox>
    </ul>
  </main>
</Layout>

<style>
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-neutral-500 to-neutral-300;
  }
</style>
