---
interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<div
  class="box-colors transition group rounded-xl p-4 min-h-60 w-full mb-4 hover:shadow hover:-translate-y-1 hover:scale-105"
>
  <div class="flex items-center justify-center">
    <!--Header -->
    <slot name="header" />
  </div>

  <div class="flex flex-col">
    <h2
      class="text-2xl text-start group-hover:text-everlightorange-200 dark:group-hover:text-everdarkorange-100"
    >
      {title}
    </h2>
    <div class="flex justify-center items-center">
      <hr
        class="transition-all duration-200 bg-everlightfg/30 dark:bg-everdarkfg/30 border-0 h-px w-0 group-hover:w-full"
      />
    </div>
    <p class="text-left overflow-auto mt-2">
      {body}
    </p>
  </div>
</div>
