---
interface Props {
  title: string;
  body: string;
  id: string;
}

const { title, body, id } = Astro.props;
---

<section
  class="w-full h-full p-12 panel flex justify-center items-center"
  id={id}
>
  <div
    class="bg-neutral-100 border border-neutral-900 px-4 py-2 w-11/12 h-5/6 flex-col gap-2"
  >
    <h2 class="text-2xl md:text-center">
      {title}
    </h2>
    <slot name="after-header" />
    <p class="text-md font-thin">
      {body}
    </p>
    <slot />
    <slot name="after-footer" />
  </div>
</section>
