---
interface Props {
  title: string;
  class_list?: string;
  items: string[];
}

const { title, items, class_list } = Astro.props;
---

<div class={`group box-colors rounded p-2 hover:shadow ${class_list}`}>
  <p
    class="text-xl group-hover:text-everlightblue-200 dark:group-hover:text-everdarkblue-100"
  >
    {title}
  </p>
  <div class="flex justify-center items-center mb-4">
    <hr
      class="transition-all duration-200 bg-everlightfg/30 dark:bg-everdarkfg/30 border-0 h-px w-0 group-hover:w-full"
    />
  </div>

  <ul class="text-left list-disc list-inside pl-4 space-y-1 mb-1">
    {items.map((item) => <li>{item}</li>)}
  </ul>
</div>
