---
import DarkModeButton from "./DarkModeButton";
---

<nav
  class="navbar-colors backdrop-blur-sm overflow-hidden sticky top-0 w-full z-50 py-2 px-2 md:px-4 flex justify-between"
>
  <div class="flex gap-4 items-center">
    <p class="text-xl">Claudio Araujo</p>
    <ul class="md:flex md:mx-2 gap-2">
      <li><a href="#about">About</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#works">Work</a></li>
    </ul>
  </div>
  <div>
    <DarkModeButton client:load />
  </div>
</nav>
